  <div class="header">
  <img src="http://datanesia.org/images/datanesia.png" class="imgHeader" />
  	  </p>
        Datanesia.org is a collaborative effort to collect, organize, and provide better access to datasets and data related information in Indonesia. Open, for all.
        <br/>Started by <a href="http://twitter.com/ramdayz">ramda</a>, <a href="http://twitter.com/okfnid">OKFN Indonesia</a> and  <a href="http://akilnews.wordpress.com">Asia Knowledge and Innovation Lab</a> 
      	<br/>Maintained by <a href="http://twitter.com/iniandra">andra</a>. Have questions ? Send me an <a href="mailto:me@yuandraismiraldi.net">email</a> 
      </p>
  </div>